
datasets/FGNET/points/083a17.pts
*.pts
*.JPG
*.dat
datasets/FGNET/.DS_Store
*.csv
*.npy
*.h5
*.pyc
saved_models/model5_85/KNN_model
dcaFuse/
saved_models/model586/KNN_model
*.jpg
saved_models/
*.txt
*.log
client/android/
client/ios
client/linux
client/macos
client/test
client/web
client/windows
client/build
*.metadata
*.lock
analysis_options.yaml
.flutter-plugins
.flutter-plugins-dependencies
client.iml
client/README.md
.idea
.dart_tool
test.xlsx
asyTest.py
cameraT.py
random.py
