
datasets/FGNET/points/083a17.pts
*.pts
*.JPG
*.dat
datasets/FGNET/.DS_Store
*.csv
*.npy
*.h5
*.pyc
saved_models/model5_85/KNN_model
dcaFuse/
saved_models/model586/KNN_model
*.jpg
saved_models/
*.txt
*.log
app-demo/client/flutter/demo_gui_flutter/android/
app-demo/client/flutter/demo_gui_flutter/ios
app-demo/client/flutter/demo_gui_flutter/linux
app-demo/client/flutter/demo_gui_flutter/macos
app-demo/client/flutter/demo_gui_flutter/test
app-demo/client/flutter/demo_gui_flutter/web
app-demo/client/flutter/demo_gui_flutter/windows
*.metadata
*.lock
app-demo/client/flutter/demo_gui_flutter/analysis_options.yaml
app-demo/server/image_buffer/
